@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap");

body {
    background-color: #e8dcc4;
}

nav * a {
    color: #8a854c !important;
    font-family: "Montserrat", sans-serif;
    font-size: 18px !important;
}
